body {
    background-color: yellow;
}

.img1 {
    background-image: url(../images/pluh.jpg);
    width: 450px;
    height: 300px;
}

.img2 {
    background-image: url(../images/pluh.jpg);
    width: 450px;
    height: 300px;
    background-size: 200px;
    margin-top: 30px
}

.img3 {
    background-image: url(../images/pluh.jpg);
    width: 450px;
    height: 300px;
    background-size: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: aqua;
}

.htmling1 {
    object-fit: fill;
    margin-bottom: 30px;
}

.htmling2 {
    background-color: aqua;
    object-fit:contain;
    object-position: center bottom
}