body {
    background-color: yellow
}

.greenbox {
    width: 450px;
    height: 450px;
    background-color: green;
    border: 5px solid red;
    border-radius: 10px;
    margin: 20 0
}

.cyanbox {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 10px;
    margin: 20px auto
}

.bluebox {
    width: 150px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;
    margin: 0 20px
}

.yellowbox {
    width: 150px;
    height: 60px;
    background-color: yellow;
    border-radius: 10px;
    margin: 20px auto
}

.redbox {
    width: 150px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    margin: 20px 20px
}