.logo {
    object-fit: contain;
    height: 80px;
    width: 150px;
}

nav {
    float: right;
    padding: 30px;
    padding-right: 50px;
    padding-left: 0
}

nav a {
    text-decoration: none;
    margin-left: 12px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #050543
}

.hero {
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    font-size: 115%;
    background-image: url(../images/banner-img.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    padding: 80px 16px;
}

.hero a {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    background-color: #050543;
    padding: 8px 25px;
}

h2 {
    text-align: center;
    color: #050543;
    margin: 25px;
    font-size: 35px;
}

section {
    clear: both;
    padding: 0 15px;
}

.welcome {
    text-align: center;
     font-family: "PT Serif", serif;
    font-weight: 400;
    margin: 40px 75px
}

.welcome a {
     font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    background-color: #050543;
    padding: 8px 25px;
    margin: 20px
}

.left {
    float: left;
    width: 60% 
}

.img1 {
width: 100%;
    max-height: 100%;
    object-position: top;
    object-fit: cover
}

.right {
    font-family: "PT Serif", serif;
    font-weight: 400;
    float: right;
    width: 40% ;
}

h3 {
    margin: 0
}

.l2 {
    float: left;
    width: 60% 
}

.img2 {
       float: right;
    width: 40% ;
}